.breadcrumb {
  background: #252C3C;
  font-size: 0.9em;
  border: 1px solid #323B50
}

.breadcrumb li:not(:first-child):before {
  content: '>';
  height: 1rem;
  position: relative;
  display: inline-block;
  padding-right: 0.25rem;
  padding-left: 0.45rem;
  color: #adb5bd;
}