.steps-container .card-footer {
  background: white;
}

.trigger-container .form-group:last-of-type {
  margin-bottom: 0 !important;
}

.card p:last-child {
  margin-bottom: 0;
}

.card-list {
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  padding: 1rem;
  background: #E9EEF2;
}

.card-list-dots {
  margin-bottom: 0.75rem;
  border-radius: 0.1rem;
  padding: 0 0.4rem;
  background: #323B50;
}

.card-list .card-list-head {
  display: flex;
  justify-content: space-between;
}

.card-list .card {
  border: none;
}

.card.card-narrow .card-body {
  padding: 0.75rem 1.25rem ;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #E9EEF2;
  margin-bottom: 0.75rem;
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
  border-radius: 0.5rem;
}

.card.clickable:hover {
  box-shadow: 0 0.2875rem 0.475rem rgba(33, 37, 41, 0.15) !important;
}

.card.clickable a {
  text-decoration: none;
}

.card > .progress {
  height: 0.1875rem;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.card-status {
  border-radius: 0rem 0.5rem 0.5rem 0;
}

.card-status-success {
  border-left: 6px solid #28A745 !important;
}

.card-status-danger {
  border-left: 6px solid #DC3545 !important;
}

.card-status-empty {
  border-left: 6px solid #FFC106 !important;
}

@media (min-width: 1200px) {
  .card-task .card-title {
    margin: 0;
  }
}

.card .card-title {
  max-width: 90%;
}

.card-title {
  margin-bottom: 1.5rem;
}

.card-title h6 {
  margin: 0;
}

.card-title a {
  color: black;
}

.card-title .text-small {
  color: #6c757d;
}

.text-small {
  font-size: .875rem;
  line-height: 1.3125rem;
}

@media (min-width: 1200px) {

  .card-task .card-body,
  .card-task .card-meta {
    display: flex;
    align-items: center;
  }
}

.card-list .card:last-child {
  margin-bottom: 0;
}

.card-task .card-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-note {
  background: #fff7dd !important;
  border-color: #fff1c9 !important;
}

.card-note p:last-child {
  margin: 0;
}

.card-mini-icon {
  width: 50px;
  height: 50px;
  padding-top: 1em;
  padding-top: 0.4em;
}

.card-mini-icon .fa,
.card-mini-icon .fas,
.card-mini-icon .fab {
  font-size: 2.5em;
}