
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 1px;
  font-size: 12px;
}