<template name="files.templates">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header mb-4">
          <h2>
            {{__ "filesTemplates.index.title"}}
          </h2>
          <p class="lead">{{__ "filesTemplates.index.subtitle"}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="card-list">
          <div class="card-list-body">
            {{#each categories}}
              123
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-md-8 text-center">
        <div class="card-list">
          <div class="card-list-body">
            {{#each templates}}
              123
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
