.dashboard-execution-history:hover h4 span {
  display: inline-table;
}
.dashboard-execution-history h4 span {
  display: none;
}
.dashboard-execution-history .number-title {
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
.dashboard-execution-history .number {
  font-weight: bold;
  font-size: 2.5rem;
  display: block;
  line-height: 1;
}

.dashboard-execution-history .number-green {
  color: #4ECA8A;
}

.dashboard-execution-history .number-red {
  color: #E56C88;
}

.dashboard-execution-history .number-yellow {
  color: #F9D071;
}