.card-deck .card:not(.large-card) {
  max-width: calc(25% - 30px);
}

#trigger-creator .card {
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

#steps-creator .card {
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}

pre.code {
  background: #222222;
  color: white;
  font-family: monospace;
  padding: 30px;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}