
/*
 * Sidebar
 */
#flow-sidebar {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#flow-editor .edit-mode-link {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer !important;
}

#flow-sidebar-right {
  position: fixed;
  overflow-y: none;
  -webkit-overflow-scrolling: touch;
  top: 49px;
  bottom: 0;
  right: 0;
  width: 420px;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#flow-sidebar-right iframe {
  width: 100%;
  height: calc(100vh - 103px);
  border: none;
}

#flow-sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#flow-sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

#flow-sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

#flow-sidebar .nav-link.active {
  color: #007bff;
}

#flow-sidebar .nav-link:hover .feather,
#flow-sidebar .nav-link.active .feather {
  color: inherit;
}

#flow-sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#flow-editor {
  background: url(/images/bground.svg) white;
  padding: 0;
  position: relative;
  height: calc(100vh - 198px);
}

#flow-editor .card {
  width: 350px;
  position: absolute;
  border-radius: 6px;
  border: 1px solid rgba(33, 37, 41, 0.3);
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

#flow-editor .card .delete {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  border-radius: 40%;
  min-width: 0;
  background-color: black;
  border: 1px solid #E9EEF2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

#flow-editor .card .connector-out {
  top: 25px;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  min-width: 0;
  background-color: white;
  color: white;
  cursor: pointer;
}

#flow-editor .flow-step {
  height: auto !important;
  cursor: move;
}

#flow-editor .card .connector-out.connector-inbound {
  border: 1px solid rgba(33, 37, 41, 0.3);
  left: -14px;
}

#flow-editor .card .connector-out.connector-inbound:after {
  z-index: 1;
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

#flow-editor .card .connector-out.connector-outbound {
  border: 1px solid rgba(33, 37, 41, 0.3);
  right: -14px;
}

#flow-editor .card .connector-out.connector-outbound:after {
  z-index: 1;
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

#flow-editor .card .hover {
  display: none;
}

#flow-editor .card:hover .hover {
  display: table;
}

#flow-editor .card select:not(:last-child) {
  margin-bottom: 20px;
}

#flow-editor .card .form-group:last-child {
  margin-bottom: 0px;
}

#flow-editor .card .form-group:last-child,
#flow-editor .card .form-group:last-child select {
  margin-bottom: 0px;
}