#sidebar-wrapper {
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 56px);
    overflow: auto;
}
#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#flow-editor {
  /* background: url(/images/bground.png) white; */
  background: url(/images/bground.svg) white;
  padding: 0;
  position: relative;
  height: calc(100vh - 140px);
  overflow: auto
}

#flow-editor .col-12 {
  min-width: 5000px;
  min-height: 5000px;
}

#flow-editor .card {
  width: 350px;
  position: absolute;
  border-radius: 6px;
  border: 1px solid rgba(33, 37, 41, 0.3);
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

#flow-editor .card .delete {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  border-radius: 40%;
  min-width: 0;
  background-color: black;
  border: 1px solid #E9EEF2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

#flow-editor .card .connector-out {
  top: 25px;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  min-width: 0;
  background-color: white;
  color: white;
  cursor: pointer;
}

#flow-editor .flow-step {
  height: auto !important;
  cursor: move;
}

#flow-editor .card .connector-out.connector-inbound {
  border: 1px solid rgba(33, 37, 41, 0.3);
  left: -14px;
}

#flow-editor .card .connector-out.connector-inbound:after {
  z-index: 1;
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

#flow-editor .card .connector-out.connector-outbound {
  border: 1px solid rgba(33, 37, 41, 0.3);
  right: -14px;
}

#flow-editor .card .connector-out.connector-outbound:after {
  z-index: 1;
  box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
}

#flow-editor .card .hover {
  display: none;
}

#flow-editor .card:hover .hover {
  display: table;
}

#flow-editor .card select:not(:last-child) {
  margin-bottom: 20px;
}

#flow-editor .card .form-group:last-child {
  margin-bottom: 0px;
}

#flow-editor .card .form-group:last-child,
#flow-editor .card .form-group:last-child select {
  margin-bottom: 0px;
}